{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container col-md-6">
        <div class="card">
            <!-- alert_box -->
            {% if msg %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Sorry ! </strong> {{ msg }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <form action="{% url 'add_product' %}" id="form" method="POST">
                    {% csrf_token %}
                     {{ product_form|crispy }}
                    <div class="form-row float-right">
                        <button class="btn btn-primary" id="save" type="submit" >Save Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div><br>
{% endblock content %}

{% block extra_js %}
    <script>

    </script>
{% endblock extra_js %}